Language: Cpp #Ц отвечает за €зык программировани€, с которым она используетс€
BasedOnStyle: Microsoft #Ц отвечает за общий стиль форматировани€
IndentWidth: '4' #Ц отвечает за размер отступа
UseTab: Always #Ц отвечает за использование табул€ции в коде
BreakBeforeBraces: Allman #Ц отвечает за перенос скобочек
ColumnLimit: '140' #Ц отвечает за лимит символов в строке
AccessModifierOffset: '-4' #Ц дополнительный отступ или выступ модификаторов доступа
SortIncludes: false #Ц определ€ет, будет ли clang-format сортировать файлы #includes
AllowShortBlocksOnASingleLine: false #Ц определ€ет, помещать ли блоки в одну строку
AlignAfterOpenBracket: DontAlign #Ц не выравнивать аргументы после открывающей скобки
AllowShortFunctionsOnASingleLine: Inline #Ц объедин€ть только функции, определенные внутри класса в одну строку
PointerAlignment: Left #Ц расположение указател€